.interfaz {
    position: fixed; /* Fija la barra en la parte superior de la página */
    top: 0; /* Coloca la barra en la parte superior */
    background: transparent;
    width: 100%; /* Asegura que ocupe todo el ancho */
    padding: 15px 1%; /* Ajusta el padding si es necesario */
    transition: opacity 0.3s ease; /* Transición suave para la opacidad */
    z-index: 1000; /* Asegura que la barra esté por encima de otros elementos */
    text-align: center;
}


.ul1 .li1 {
    display: inline-block;
    padding: 0 20px;
    transition: all 0.2s ease;
}

.ul1 .li1:hover {
    padding: 5px 10px;
    background: white;
    color: black;
    border-radius: 15px;
}

.a1 {
    color: white;
    text-decoration: none;
}

.a1:hover {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.scrol {
    height: 100px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.profile {
    display: flex;
    align-items: center;
    text-align: left;
}

.perfil {
    width: 350px;
    height: 350px;
    border-radius: 100%;
    margin-right: 10px;
}

.info {
    display: flex;
    flex-direction: column;
}

.ptitulo {
    margin-top: 10px;
}

.linkedin {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    color: transparent;
    transition: background-color 0.3s;
    z-index: 1000;
}

.github {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    color: transparent;
    transition: background-color 0.3s;
    z-index: 1000;
}

.titulo {
    margin: 0;
    font-size: 50px;
}

.subtitulo{
    margin: 0;
    font-size: 30px;
}

.tituloperono{
    color: blue;
    font-size: 40px;
}

.github:hover{
    background: white;
    color: black;
    border-radius: 50%;
}

.linkedin:hover{
    
    background: white;
    color: black;
    border-radius: 50%;
}

.body{
    background-color: rgb(140, 0, 255);
}

.html{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    color: transparent;
    transition: background-color 0.3s;
    z-index: 1000;
}

.habilidades{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.habilidades .li1{
    margin: 0 50px;
}

.habilidades img{
    max-width: 100px;
    height: auto;
}

.css{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    color: transparent;
    transition: background-color 0.3s;
    z-index: 1000;
    margin-left: 25px;
}

.css:hover{
    background: white;
    color: black;
    border-radius: 50%;
}
li {
    list-style-type: none; /* Elimina los puntos negros de los elementos de lista */
    margin-left: 0; /* Elimina cualquier margen adicional si es necesario */
    padding-left: 0; /* Elimina cualquier relleno adicional si es necesario */
}

.item span {
    margin-left: 10px; /* Añade un espacio entre la imagen y el texto */
}